$font-path: "../assets/fonts";

$app-direction: ltr;


@import "ionic.globals";

$colors: (
  primary:    #384d86,
  secondary:  #3882be,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

//top toolbar
$toolbar-md-background: color($colors, primary);

//bottom tabs
$tabs-md-background: color($colors, primary);
$tabs-md-tab-color-active: color($colors, light);
$tabs-md-tab-color: color($colors, light);
$tabs-md-tab-text-color: color($colors, light);

//lists
//$list-md-background-color: color($colors, primary);
//$list-md-text-color: color($colors, light);

@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";